.advantages-list{
    &__image{
        display: flex;
        justify-content: center;
        align-items: center;
         height: 120px;
         margin-bottom: 30px;
         background-color: var(--section-color);
         border-radius: 4px;
     }

    &__name {
        font-family: var(--main-font);
        font-weight: bold;
        font-size: 14px;
        line-height:1.14;
        text-align: center;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        
        color: var(--main-color);
        margin-bottom: 10px;
    }
    &__description {
        font-size: 14px;
        line-height: 1.71;
        letter-spacing: 0.03em;
    
        color: var(--secondary-collor);
    }
}

@media screen and (max-width: 767px){
    .advantages-list__item{
        &:not(:last-child) {
            margin-bottom: 30px;
        }
}
}

@media screen and (min-width: 768px) {
    .advantages-list{
    display: flex;
    flex-wrap: wrap;
    }
}

@media screen and (min-width: 768px) and (max-width: 1200px)  {
    .advantages-list{
    margin:-15px;
    }
    .advantages-list__item{
        margin: 15px;
        width: 354px;
    }
}

@media screen and (min-width: 1200px) {

    .advantages-list__item{
        flex-basis: calc(100% /4 - 30px);
        min-width: 270px;
    
        &:not(:last-child) {
            margin-right: 30px;
        }
    }
}
