.client-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: -15px;

    &__item {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-basis: calc(100% /6 - 30px);
        margin: 15px;
    }
}
.client-list__site-link {
    display: flex;
    justify-content: center;
    align-items: center;

    transition: border 250ms var(--cubic);

    width: 210px;
    height: 90px;
    background-color:var(--contrast-color);
    border: 1px solid var(--social-link-color);
    border-radius: 4px;

    fill: var(--social-link-color);

    &:hover,
    &:focus {
    border: 1px solid var(--accent-color);
    }
}

.client-list__icon{
    transition: fill 250ms var(--cubic);

    
.client-list__site-link:hover &,
.client-list__site-link:focus &{
    fill: var(--accent-color);
    }
}
@media screen and (min-width: 768px) {
    .client-list__site-link {
        width: 226px;
    }
}

@media screen and (min-width: 1200px) {
    .client-list{
        flex-wrap: nowrap;
    }
    .client-list__site-link {
        width: 170px;
        height: 90px;
    }
  
}
