:root {
    --main-font: "Roboto", sans-serif; 
    --secondary-font: "Raleway", sans-serif;
    --accent-color: #2196f3;
    --main-color: #212121;
    --secondary-collor: #757575;
    --contrast-color: #FFFFFF;
    --secondblack-color:  #000000;
    --header-line-color:#ECECEC;
    --footer-text-color: rgba(255, 255, 255, 0.6);
    --footer-color: #2F303A;
    --section-color: #F5F4FA;
    --social-link-color:#AFB1B8;
    --project-border-color: #EEEEEE;
    --project-overlay:rgba(33, 150, 243, 0.9);
    --bg-hero-color:#C4C4C4;
    --hero-overlay: rgba(47, 48, 58, 0.4);
    --section-top: 94px;
    --section-btm: 94px;
    --cubic:cubic-bezier(0.4, 0, 0.2, 1)
}
